.wrap {
    box-sizing: border-box;
    border: 1px solid black;
    width: 50vw;
    height: 75vh;
    padding: 10%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .addToDoWrap {
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .addToDoInput {
            width: 75%;
        }
        
        .addToDoButton {
            cursor: pointer;
        }
    
    .toDoListWrap {
        width: 100%;
    }