.toDoElementWrap {
    width: 100%;
    margin: 12px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .circleCheck, .circle {
        cursor: pointer;
    }
    
    /* .circleCheck, .circle {
        border-radius: 50%;
        color: linear-gradient(green, yellowgreen);
        background-color: white;
    } */
    
    .toDoText, .toDoTextInput {
        width: 100%;
        margin-left: 8px;
        
    }
    
    .buttonsWrap {
        
        
        display: flex;
    }
    
        .editButton {
            width: 16px;
            height: 16px;
            margin: 0 8px;
            cursor: pointer;
        }
        
        .deleteButton {
            width: 16px;
            cursor: pointer;
        }
        
        .okButton {
            cursor: pointer;
        }
        
        .cancelButton {
            cursor: pointer;
        }